@using Microsoft.AspNetCore.Authentication;
@using ShaTaskApp.Models.Entities
@model ShaTaskApp.Models.Business.CreateInvoice

@{
    ViewBag.Title = "Create Invoice";
 
}



<section class="ftco-section">
    <div class="container bg-infdo w-75">

        <div class="row justify-content-center ">
            <div class="col-md-12 col-lg-10">

                <div class="login-wrap p-4 p-md-5 ">
                    <div class="d-flex ">
                        <div class="w-100">
                            <h3 class="mb-4">Create Invoice</h3>
                        </div>

                    </div>
                    <form method="post" class="signin-form">

                        <div class="form-group mb-3">
                            <label class="label" asp-for="TaxRate">Tax Rate</label>
                            <input type="text" class="form-control" asp-for="TaxRate" placeholder="Tax Rate" required>
                            <span class="validate-color" asp-validation-for="TaxRate"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="TaxAmount">Tax Amount</label>
                            <input type="text" class="form-control" asp-for="TaxAmount" placeholder="Tax Amount" required>
                            <span class="validate-color" asp-validation-for="TaxAmount"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="Discount">Discount</label>
                            <input type="text" class="form-control" asp-for="Discount" placeholder="Discount" required>
                            <span class="validate-color" asp-validation-for="Discount"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="CustomerName">Customer Name</label>
                            <input type="text" class="form-control" asp-for="CustomerName" placeholder="Customer Name" required>
                            <span class="validate-color" asp-validation-for="CustomerName"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="CustomerAddress">Customer Address</label>
                            <input type="text" class="form-control" asp-for="CustomerAddress" placeholder="Customer Address" required>
                            <span class="validate-color" asp-validation-for="CustomerAddress"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="CustomerEmail">Customer Email</label>
                            <input type="text" class="form-control" asp-for="CustomerEmail" placeholder="Customer Email" required>
                            <span class="validate-color" asp-validation-for="CustomerEmail"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="CustomerPhone">Customer Phone</label>
                            <input type="text" class="form-control" asp-for="CustomerPhone" placeholder="Customer Phone" required>
                            <span class="validate-color" asp-validation-for="CustomerPhone"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="Notes">Notes</label>
                            <input type="text" class="form-control" asp-for="Notes" placeholder="Notes" required>
                            <span class="validate-color" asp-validation-for="Notes"></span>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50 text-left">
                                <label class="checkbox-wrap checkbox-primary mb-0" asp-for="Status">
                                    Active
                                    <input type="checkbox" checked asp-for="Status">
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                        </div>
                        <div class="form-group mb-3">

                            @if (Model.InvoiceProducts.Count <= 0)
                            {
                                <div>

                                    No Products Created Yet! <a asp-controller="Business" asp-action="CreateProduct"> Create One? </a>

                                </div>

                            }
                            else
                            {

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in Model.InvoiceProducts.Select((item, index) => new { Item = item, Index = index + 1 })) // Add 1 for starting index at 1
                                        {
                                            /*we save all data of product*/
                                            <input type="hidden" asp-for="@Model.InvoiceProducts[product.Index-1].ProductId" value="@product.Item.ProductId">
                                            <input type="hidden" asp-for="@Model.InvoiceProducts[product.Index-1].ProductName" value="@product.Item.ProductName">
                                            <input type="hidden" asp-for="@Model.InvoiceProducts[product.Index-1].ProductPrice" value="@product.Item.ProductPrice">
                                            <input type="hidden" asp-for="@Model.InvoiceProducts[product.Index-1].ProductDescription" value="@product.Item.ProductDescription">
                                            <input type="hidden" asp-for="@Model.InvoiceProducts[product.Index-1].ProductCategory" value="@product.Item.ProductCategory">
                                    
                                             
                                             <tr>
                                                <th scope="row">@product.Index

                                                </th>
                                                <td>@product.Item.ProductName</td>
                                                <td> @product.Item.ProductPrice</td>
                                                <td> @product.Item.ProductCategory</td>
                                                <td>

                                                    <div class="d-flex  ">
                                                        <a class="  text-decoration-none" asp-controller="Business" asp-action="ViewProduct" asp-route-id="@product.Item.ProductId">
                                                            <i class="bi bi-binoculars-fill"></i>

                                                        </a>
                                                        <div class="d-flex  ">
                                                        <i class="text-secondary bi bi-plus-slash-minus mx-3 "></i>
                                                             <input type="number" asp-for="@Model.InvoiceProducts[product.Index-1].Quantity" min="0" max="100">

                                                         
                                                        </div>

                                                    
                                                    </div>
                                                </td>
                                            </tr>

                                        }


                                    </tbody>
                                </table>

                            }
                        </div>
                        <div asp-validation-summary="All" class="validate-color"></div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Craete</button>
                        </div>
                 
                    </form>

                  
                </div>
            </div>
        </div>
    </div>

</section>
 

